body {
  background-color: #ebfde3; 
  font-family: 'Quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navbar */
.navbar-color {
  background-color: #B7C9B0; 
}

.nav-link {
  color: #000000;
  transition: color 0.3s;
  margin-left: 15px; 
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.nav-link:hover {
  color: #edffe7 !important;
}

/* Footer */
footer.bg-color {
  background-color: #B7C9B0;
  color: #ffffff;
}
